#user-stat {
	text-align: left;
}

.userstat {
	border-collapse: collapse;
}

.userstat td {
	border: 1px solid #ebebeb;
	padding: 10px;
	height: 20px;
}

.stat-labels td {
	background-color: #f5f5f5;
	color: #333;
}

.stat-labels td img {
	vertical-align: middle;
}

#stat_data {
	margin: 0;
	padding: 0;
	border-top-width: 0;
	display: none;
}

#stat_data table {
	width: 100%;
	border-collapse: collapse;
}

#statcontainer {
	margin-bottom: 30px;
}

#stat_data div td {
	white-space: nowrap;
	text-align: left;
}

#stat-pages a {
	cursor: pointer;
}

.stat-nav-bold {
	font-weight: bold;
	text-decoration: none;
	cursor: text;
}

tr.stat-labels td {
	white-space: normal !important;
}

#stat_data div {
	overflow-x: auto;
}

#stat-pages .float_right {
	float: right;
}

.taright {
	text-align: right;
}

.taleft {
	text-align: left;
}

.tacenter {
	text-align: center;
}

.val {
	padding: 4px 0;
}

.caps {
	text-transform: capitalize;
}

span.disabled {
	color: #666;
}

input, select, textarea {
	color: #666666;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 3px 3px;
	border: 1px solid #c0cad5;
	background-color: #fff;
}

#start, #end {
	width: 80px;
}

#use-tz {
	padding: 10px 0 0 20px;
	text-align: left;
}

#gotocpserver {
    float: left;
    line-height: 24px;
}
#gotocpform {
    float: left;
}

.font-bold {
	font-weight: bold;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||| */

.sel_wrap {
	display: inline-block;
}

.sel_wrap select {
	display: none;
}

.sel_imul {
	width: 300px;
}

.sel_imul .sel_selected {
	background: #fff;
	border: 1px solid #bbb;
	padding: 3px 6px;
	cursor: pointer;
	position: relative;
}

.sel_imul.act .sel_selected {
	background: #efefef;
}

.sel_selected .sel_arraw {
	height: 100%;
	width: 20px;
	background: url('http://bit.ly/gudLNa') 50% 50% no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
}

.sel_imul:hover .sel_selected .sel_arraw {
	background-color: #e0e0e0;
	border-left: 1px solid #bbb;
}

.sel_imul.act .sel_selected .sel_arraw {
	background-color: #e0e0e0;
	border-left: 1px solid #bbb;
}

.sel_imul .sel_options {
	background: #fff;
	border: 1px solid #dbdbdb;
	border-top: none;
	overflow: auto;
	position: absolute;
	width: 98px;
	display: none;
	z-index: 10;
}

.sel_options .sel_option {
	padding: 3px 4px;
	border: 1px solid #fff;
	border-right: none;
	border-left: none;
}

.sel_options .sel_option:hover {
	border-color: #dbdbdb;
	cursor: pointer;
}

.sel_options .sel_option.sel_ed {
	background: #dbdbdb;
	border-color: #dbdbdb;
}

/*second variant*/
.sec .sel_imul {
	width: 50px;
}

.sec .sel_imul .sel_selected {
	border: 1px solid #C0CAD5;
}

.sel_imul.act .sel_selected {
	background: #fff;
}

.sec .sel_imul:hover .sel_selected .sel_arraw {
	background-color: #e1e8ed;
	border-left: 1px solid #d2dbe0;
}

.sec .sel_imul.act .sel_selected .sel_arraw {
	background-color: #e1e8ed;
	border-left: 1px solid #d2dbe0;
}

.sec .sel_imul .sel_options {
	background: #fff;
	border: 1px solid #d2dbe0;
	width: 48px;
}

.sec.overf .sel_imul .sel_options {
	height: 100px;
}

.sec .sel_options .sel_option:hover, .sec .sel_options .sel_option.sel_ed {
	background: #587da1;
	border: 1px solid #2a5883;
	color: #fff;
	cursor: pointer;
}

.sec .sel_imul .sel_selected .sel_arraw {
	background-image: url('http://vkontakte.ru/images/darr_dd_out.gif');
}

.sec.round .sel_imul .sel_selected {
	-webkit-border-radius: 5px;
}

.sec.round .sel_imul .sel_selected .sel_arraw {
	-webkit-border-radius: 0 5px 5px 0;
}

.sec.round .sel_imul .sel_options {
	-webkit-border-radius: 0 0 5px 5px;
}

/*green*/
.sec.green .sel_imul .sel_selected {
	border-color: #FFAD99;
}

.sec.green .sel_imul:hover .sel_selected .sel_arraw,
.sec.green .sel_imul.act .sel_selected .sel_arraw {
	background-color: #FFD6CC;
	border-left: 1px solid #FFAD99;
}

.sec.green .sel_options .sel_option:hover,
.sec.green .sel_options .sel_option.sel_ed {
	background: #FF9980;
	border: 1px solid #FF704D;
	color: #fff;
	cursor: pointer;
}

.selected-text {
	text-align: left;
	padding-left: 6px;
}

.aleft {
	text-align: left;
}