.inline-block {
    display: inline-block;
}

#user-stat {
    text-align: left;
}

#stat_data {
    margin-bottom: 0;
}

#stat_data th {
    text-align: center;
    padding-top: 12px;
}

#stat_data tbody {
    opacity: 0.1;
}

#stat_data td:first-child {
    font-weight: bold;
}

#stat_data tr#error {
    display: none;
}

#gotocp {
    text-align: left;
}

#gotocpform button {
    margin: 5px 2px 20px;
}