.inline-block {
	display: inline-block;
}

#statcontainer .well-small {
	padding-bottom: 5px;
}

#user-stat {
	text-align: left;
}

#stat_data {
	margin-bottom: 0;
}

#stat_data th {
	text-align: center;
	padding-top: 12px;
}

#stat_data tbody {
	display: none;
}

#stat_data td:first-child {
	font-weight: bold;
}

#stat_data tr#error {
	display: none;
}

#gotocp {
	text-align: left;
}

#gotocpform button {
	margin: 5px 0 20px;
}